
@{
    ViewBag.Title = "Contact";
}
<script src="~/Scripts/SignalR_API.js"></script>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <footer>
                <h4>Contact Page</h4>
                Content
            </footer>
        </div>
    </div>
</div>
