
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/SignalR_API.js"></script>
<script src="~/Scripts/delCookie.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <footer>
                <h4>Index Page</h4>
                Content
            </footer>
        </div>
    </div>
</div>
<script>
    //var tokenInfo = "tokenInfo";
    //function delCookie() {
    //    console.log("delCook");
    //    document.cookie = "tokenInfo" + "=" + "; path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT";
    //}
    //function delCookie(name) {
    //    document.cookie = name + "=" + "; expires=Thu, 01 Jan 1970 00:00:01 GMT";
    //    //var cookie_date = new Date();  // Текущая дата и время
    //    //cookie_date.setTime(cookie_date.getTime() - 1);
    //    //document.cookie = name += "=; path=/ expires=" + cookie_date.toGMTString();
    //}
</script>